/* 기본 스타일 초기화 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{list-style-type: none;}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
    padding: 20px;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0 5px 0;
    text-align: center;
    border-radius: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li p {
    color: white;
}

main {
    margin-top: 30px;
}

.cksd{
    width: 100%; height: 350px;
    display: flex;
}

.cksd2{
    width: 50%;
    height: 350px;
    padding: 20px;
    box-sizing: border-box;
    
}

.cksd2 h2{
    margin-bottom: 30px;
    
}

.cks {
    width: 50%;
    height: 350px;
    padding: 20px;
    box-sizing: border-box;
}

.cks h2 {
    margin-bottom: 30px;
}

.dud32 {
    width: 100%; height: 350px;
    text-align: center;
    display: flex;
}

.sec-li{
    padding: 0 0 0 30px;
}

.dud32 ul {
    padding: 0;
    list-style: none;
    gap: 20px;
    display: flex;
}

.dud32 li {
    margin-bottom: 10px;
    text-align: center;
}

.dud32 a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.dud32 a:hover {
    text-decoration: underline;
}

.notice-header {
    cursor: pointer;
    padding: 10px;
    transition: 0.2s;
}

.notice-header:hover {
    background: #f2f2f2;
    transform: translateY(-2px);
}

.popup-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    z-index: 999;
}

.popup-overlay.active {
    display: block;
}

.popup-3 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    max-width: 90%;
    padding: 30px;
    display: none;
    z-index: 1000;
    border-radius: 15px;
}

.popup-3.active {
    display: block;
}

.popup-title {
    text-align: center;
    margin-bottom: 10px;
}

.popup-date {
    text-align: left;
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.popup-content {
    line-height: 1.6;
}

.popup-close {
    margin-top: 20px;
}

