/* 기본 스타일 초기화 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{list-style-type: none;}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
    padding: 20px;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0 5px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li p {
    color: white;
}

main {
    margin-top: 30px;
}

.cks {
    width: 500px;
    height: 350px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.cks h2 {
    margin-bottom: 40px;
}

.dud32 {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.sec-li{
    padding: 0 0 0 30px;
}

.dud32 ul {
    list-style: none;
    padding: 0;
}

.dud32 li {
    margin-bottom: 10px;
}

.dud32 a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.dud32 a:hover {
    text-decoration: underline;
}

footer {
    height: 120px;
    text-align: center;
    margin-top: 40px;
    font-size: 0.9em;
    color: #666;
}

footer a{
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline; color: blue;
}