@charset "UTF-8";

*{
font-family: "맑은 고딕", sans-serif;
margin: 0; padding: 0;
}

li{list-style-type: none;}
a:hover{
  text-decoration: underline; color: blue;
}

body{
  background-color: #f9f9f9;
}

.opas{
  padding: 20px 0 0 0;
  width: 100%; height: auto;
  text-align: center;
  margin: 0 auto;
}

.opas ul{
  width: 100%; height: 100%;
}

.opas li{
  width: 100%; height: 50%;
}
.opas h1, .opas h4{
  width: 100%; height: 100%;
  text-align: center;
 max-width: 100%;
}

.opas h4{
  width: 100%; height: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.haw{
  width: 400px; height: 100px;
  padding: 15px 0 10px 0;
  margin: 0 auto;
  text-align: center;
}
.gang { width: 97%; max-width: 1800px; margin: auto; padding: 100px 0;}


.gang ul{
  width: 100%; height: 100%;
  display: flex;
}

.gang li{
  width: 50%; height: 100%;
  padding: 0 20px;
  border-bottom: #333 1px solid;
}
.gang h2{
  text-align: center;
  padding: 10px 0;
  font-size: 24px;
  border-bottom: 1px solid #333;
  
}

table{
  margin: 10px auto;
    text-align: center;
    border-collapse: collapse;
    width: 95%;
}

td, th{
  border:1px solid #333;
  padding: 8px auto;
}

th{
  background-color: #eee;
}

.gang a:hover{text-decoration: underline; color: blue;}
.scd{
  width: 700px; height: auto;
  margin: 0 auto;
}

.scd-h3{
  width: 100%;
  border-bottom: #333 1px solid;
  text-align: center;
  font-size: 24px;
}
.scd h1{
  padding: 10px 0;
  font-size: 36px;
  text-align: center;
}
.scd h2{
  padding: 10px 0 20px 0;
  font-size: 24px;
  text-align: center;
}

.scd > ul > li > p{
  padding: 0 0 10px 0;
  font-size: 20px;
  text-align: center;
}

.check-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
    font-size: 20px;
}

.link-as{
  color: limegreen;
  text-decoration: underline;
}

.link-as:hover{
  color: blue;
}

.check-item input[type="checkbox"] {
  margin-right: 10px;
  width: 20px;    
  height: 20px;   
  cursor: pointer;
}

.checked-text {
  text-decoration: line-through;
  color: gray;
    font-size: 16px;
}

#dday {
  font-size: 40px;
  color: #007acc;
}

#timeLeft{
  font-size: 18px; font-weight: bold;
}

  .toggle-text {
    cursor: pointer;
    font-weight: bold;
    color: #333;
  }

  .hidden-box {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: all 0.4s ease;
  }

  .hidden-box.show {
    max-height: 400px; /* 내용 길이에 맞게 조정 */
    opacity: 1;
  }

  .content {
    padding: 10px;
    background: #f4f4f4;
    border-radius: 8px;
    margin-top: 8px;
  }