@charset "UTF-8";

*{
font-family: "맑은 고딕", sans-serif;

margin: 0; padding: 0;
}

li{list-style-type: none;}

body{
  background-color: rgb(252, 247, 255);
}

.opas{
  padding: 20px 0 0 0;
  width: 700px; height: 80px;
  text-align: center;
  margin: 0 auto;
}

.opas ul{
  width: 100%; height: 100%;
}

.opas li{
  width: 100%; height: 50%;
}
.opas h1, .opas h4{
  width: 100%; height: 100%;
  text-align: center;
 
}

.opas h4{
  width: 100%; height: 100%;
  padding: 15px 0 70px 0;
}

.haw{
  width: 400px; height: 100px;
  padding: 40px 0 0 0;
  margin: 0 auto;
  text-align: center;
}
.gang { width: 90%; max-width: 1700px; margin: auto; padding: 100px 0;}


.gang ul{
  width: 100%; height: 100%;
  display: flex;
}

.gang li{
  width: 50%; height: 100%;
  padding: 0 20px;
  border-bottom: #333 1px solid;
}
.gang h2{
  text-align: center;
  padding: 10px 0;
  font-size: 24px;
  border-bottom: 1px solid #333;
  
}

table{
  margin: 10px auto;
    text-align: center;
    border-collapse: collapse;
    width: 95%;
}

td, th{
  border:1px solid #333;
  padding: 8px auto;
}

th{
  background-color: #eee;
}

.gang a:hover{text-decoration: underline; color: blue;}
.scd{
  width: 700px; height: auto;
  margin: 0 auto;
}

.scd h1{
  padding: 10px 0;
  font-size: 36px;
  text-align: center;
}
.scd h2{
  padding: 10px 0 20px 0;
  font-size: 24px;
  text-align: center;
}

.scd > ul > li > p{
  padding: 0 0 10px 0;
  font-size: 20px;
  border-bottom: #333 1px solid;
  text-align: center;
}

.check-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
    font-size: 20px;
}

.check-item input[type="checkbox"] {
  margin-right: 10px;
  width: 20px;    
  height: 20px;   
  cursor: pointer;
}

.checked-text {
  text-decoration: line-through;
  color: gray;
    font-size: 16px;
}

#dday {
  font-size: 40px;
  color: #007acc;
  margin-top: 10px;
}
