@charset "UTF-8";

*{
font-family: "맑은 고딕", sans-serif;
margin: 0; padding: 0;
}

li{list-style-type: none;}
a:hover{text-decoration: underline; color: blue;}

body{
  background-color: #f9f9f9;
}

.sq{
  width: 100%; height: 100%;
  min-width: 1220px;
}

.opas{
  padding: 20px 0 0 0;
  width: 100%; height: auto;
  text-align: center;
  margin: 0 auto;
}

.opas ul{
  width: 100%; height: 100%;
}

.opas li{
  width: 100%; height: 50%;
}
.opas h1, .opas h4{
  width: 100%; height: 100%;
  text-align: center;
 max-width: 100%;
}

.opas h4{
  width: 100%; height: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.haw{
  width: 400px; height: 100px;
  padding: 15px 0 10px 0;
  margin: 0 auto;
  text-align: center;
}
.gang { width: 97%; max-width: 1800px; margin: auto; padding: 100px 0;}


.gang ul{
  width: 100%; height: 100%;
  display: flex;
}

.gang li{
  width: 50%; height: 100%;
  padding: 0 20px;
  border-bottom: #333 1px solid;
}
.gang h2{
  text-align: center;
  padding: 10px 0;
  font-size: 24px;
  border-bottom: 1px solid #333;
  
}

table{
  margin: 10px auto;
    text-align: center;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

td, th{
  border:1px solid #333;
  padding: 6px 0;
}

th{
  background-color: #eee;
}

 .clickable-row {
    background-color: #d9f0ff;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .clickable-row:hover {
    background-color: #bfe6ff;
  }

.hidden-row {
  display: none;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: all 0.3s ease;
}

.hidden-row.show {
  display: table-row;
  opacity: 1;
  transform: scaleY(1);
  background-color: #e9fcff;
}

  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }

.gang a:hover{text-decoration: underline; color: blue;}
.scd{
  width: 700px; height: auto;
  margin: 0 auto;
}

.scd-h3{
  width: 100%;
  border-bottom: #333 1px solid;
  text-align: center;
  font-size: 24px;
  padding-bottom: 3px;
}
.scd h1{
  padding: 10px 0;
  font-size: 36px;
  text-align: center;
}
.scd h2{
  padding: 10px 0 20px 0;
  font-size: 24px;
  text-align: center;
}

.scd > ul > li > p{
  padding: 0 0 10px 0;
  font-size: 20px;
  text-align: center;
}

.check-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
    font-size: 20px;
}

.link-as{
  color: limegreen;
  text-decoration: underline;
}

.link-as:hover{
  color: blue;
}

.check-item input[type="checkbox"] {
  margin-right: 10px;
  width: 20px;    
  height: 20px;   
  cursor: pointer;
}

.checked-text {
  text-decoration: line-through;
  color: gray;
    font-size: 16px;
}

#dday {
  font-size: 40px;
  color: #007acc;
}

#timeLeft{
  font-size: 18px; font-weight: bold;
}

  .toggle-text {
    display: flex;
    cursor: pointer;
    font-weight: bold;
    color: #264b71;
    background-color: #64B5F6;
    width: 170px; height: 30px;
    border-radius: 12px;
    border: 1px solid #333;
    align-items: center;
    justify-content: center;
    margin: 5px;
    font-size: 14px;
  }

  .hidden-box {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: all 0.4s ease;
  }

  .hidden-box.show {
    max-height: 1000px; /* 내용 길이에 맞게 조정 */
    opacity: 1;
  }

  .content {
    padding: 10px;
    background: #f5f5f5;
    border-radius: 8px;
    margin-top: 8px;
  }

  .data{
    display: flex;
    text-align: center;
    padding: 10px; gap: 2px;
    flex-wrap: wrap;
  }