@charset "UTF-8";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000;
}

li{list-style: none;}
a {text-decoration: none;}

.csw{
    width: 100%; height: 100px;
    text-align: center;
    background-color: aqua;
}

.csw h2{
    font-size: 24px;
}

.csw a{
    display: block;
    width: 100%; height: 100%;
}

.skdu{
    width: 2000px; height: 500px;
    background-color: #f6c2ff;
    padding: 10px;
    margin: 0 auto;
    border-radius: 15px;
    font-size: 20px;
}