@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000;
}

li{list-style: none;}
a {text-decoration: none;}

body{
    width: 100%; height: 100%;
    background-color: #cfffe5;
}

.Manager{
    width: 400px; height: 300px;
    margin: 100px auto;
    border: 2px solid #000;
    border-radius: 10px;
    text-align: center;
    background-color: #fff;
}
h1{
    text-align: center;
    padding-bottom: 20px;
}